.profile{
    background-color: antiquewhite;
    width: 600px;
    padding-top: 35px;
    margin: 0 auto;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar{
    border-radius: 50%;
    background-color: aliceblue;
    height: 150px;
    width: 150px;
    margin: 0 auto;
}

.name{
    font-size: 25px;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 15px;
}

.tag{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 0px;
}

.location{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 25px;
    margin-top: 0px;
}

.stats{
    padding: 40px 80px;
    display: flex;
    gap: 50px;
    font-size: 20px;
    list-style: none;
    justify-content:space-between;
    align-items: center;
    background-color: aqua;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
}
.quantity{
    font-size: 25px;
    font-weight: 700;
}